/* Collection page */
.section-header {
  border-bottom: 1px solid #bfbfbf;
}
.disclosure-has-popup summary {
  padding: 12px;
  border: 1px solid #bfbfbf;
  font-size: 16px;
  margin-bottom: 0;
}
#verticalTitle {
  display: none;
}
.disclosure-has-popup summary svg {
  position: static;
  width: 24px;
}
.facets__disclosure {
  margin-right: 1rem !important;
}
#FacetFiltersForm {
  padding-bottom: 1rem;
  border-bottom: 1px solid #bfbfbf;
}
facet-remove a {
  font-size: 1.6rem !important;
  font-family: inherit;
  letter-spacing: 0;
  color: #000;
}
.facets__header {
  font-size: 1.6rem !important;

  letter-spacing: 0;
  color: #000;
}

/* Custom product page section */

.steps_heading_numbers {
  flex: 0 0 auto;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 16px;
}
.product_steps__heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.steps_heading_text {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font-size: 24px;
  font-family: var(--font-heading-family);
  line-height: 1.1;
}
.steps_heading_text input {
  width: 78px;
  max-width: 78px;
  padding-block: 12px;
  padding-inline: 16px;
  border: 1px solid;
}
.product__options {
  display: flex;
  align-items: center;
}
.options_name {
  min-width: 140px;
  padding-right: 1rem;
      font-size: 15px;
}
.swatch--color {
  width: 30px;
  height: 30px;
  display: inline-flex;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  padding: 2px;
  border: 1px solid transparent;
}
.color__filler {
  background-color: rgb(197 191 212);
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
}
.option_values {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.option_values input:checked + .swatch--color {
  border-color: #000;
}
.custom_variant_options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.seprate_line {
  display: block;
  border-bottom: 1px solid #000;
      margin-block: 24px !important;
}
.image_design_upload {
  display: none;
  position: relative;
}
.image_upload_logo_design {
  display: none;
  position: relative;
}
.resizable {
     position: absolute;
    top: 40%;
    width: 200px;
    left: 40%;
}
.resizable img {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.first_image_print {
  position: relative;
}
.quantity_values {
      display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
span.quantity_heading {
    display: flow;
    line-height: 1;
    font-size: 14px;
    margin-bottom: 4px;
}
    .quantity_values {
      display: none;
          margin-top: 20px;
    }
    .sizes_heading + label {
      display: flex
;
    align-items: center;
    gap: 10px;
    }
.sizes_heading:checked + label + .quantity_values {
display: flex;
}

.quantity_list_wrapper {
    padding: 18px 20px;
    background: #fefbf2;
    margin-top: 2rem;
    border-radius: 6px;
}
.sizes_heading:checked + label .span_checkmark {
  display: block;
}
.download_button {
      display: block;
    line-height: 1;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    z-index: 1;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.wrapper___upper {
  width: 100%;
    display: flex
;
    align-items: center;
    gap: 8px;
}
.club-upload-section .club-section-header input[type = "checkbox"]:checked + label .span_checkmark{
display: block;
}
.defined_minimum {
  color: #8f8f8f;
    font-size: 16px;
}
    .product__info-container {
        max-width: 100%;
        padding-inline: 2rem;
    }
   .club-upload-section .club-upload-area {
  display: none;
}
.printing_button {
      background: #fff;
    border: 1px solid transparent;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .12s ease-in-out;
    flex-grow: 0;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    line-height: 2.4rem;
    margin-top: 24px;
    font-family: var(--font-body-family);
    display: flex
;
    align-items: center;
    justify-content: center;
    display: none;
}
.custom_variant_options__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
label.swatch--pill {
    border: 1px solid #00000096;
    padding-block: 6px;
    padding-inline: 1rem;
    font-size: 12px;
}
.option_pill:checked + label {
 border: 2px solid #000;
}
.thumbnail_customize_logo {
      position: absolute;
    bottom: 0;
    display: flex
;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    left: 3rem;
    width: calc(100% - 3rem);
    gap: 2rem;
}
.thumbnail_logo_item{
    width: 100px;
}
.thumbnail_logo_item {
  cursor: pointer;
}
.thumbnail_logo_item.active {
  border: 1px solid;
}
.size-display {
       color: #000;
    font-size: 12px;
    padding: 6px 10px;
    background: #fff;
    border-radius: 12px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
        white-space: nowrap;
        display: none;
}
.resizable:hover .size-display {
  display: block;
}
.resizable .handle {
background: white;
    display: inline-block;
    line-height: 1;
    border-radius: 50%;
    padding: 3px;
    min-width: 30px;
    min-height: 30px;
    display: inline-flex
;
    align-items: center;
    justify-content: center;
}
.resizable .handle svg {
  width: 20px;
  height: 20px;
}
@media (max-width:749px) {

.product__options {

    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.steps_heading_text {
font-size: 18px;

}

.upload_logo__function .container {

flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
}
.product__title h1 {
font-size: 32px;
}

}
span.handle {
  display : none !important;
}
.text-with-imges__img  video {
  width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}