.text-with-images__info {
padding-inline: 3rem;
  padding-top: 2.6rem;
  padding-bottom: 3rem;
  width: 50%;
}
.text-with-images__heading {
  margin: 0;
  line-height: 1;
  margin-bottom: 2rem;
}
.text-with-images__grid {
    display: flex;
}
.text-with-images__images {
    width: 50%;
}
.text-with-imges__img {
      height: 60rem;
}
.text-with-imges__img img {
  height: 100%;
    object-fit: cover;
    width: 100%;
}
.text-with-images__container {
  position: relative;
}

.img_ovelay {
  position: relative;
}
.img_ovelay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  opacity: .4;
}
.text-with-images_block__info {
    position: absolute;
    bottom: calc(3rem + 1.6rem + 1.6rem);
    left: 3rem;
}
.text-with-images_block_heading {
  font-size: 2.4rem;
    line-height: 1.2;
    font-family: var(--font-heading-family);
    display: block;
    color: white;
}
.text-with-images_block_subheading {
  font-size: 1.6rem;
    line-height: 2.4rem;
    color: white;
    margin-top: .6rem;
    display: block;
}

.text-with-images__images .swiper-pagination {
      display: flex;
    z-index: 9;
}
@media (max-width:989px) {
  .text-with-images__buttons {
        margin-top: 3rem;
  }
  .text-with-images__info {
    width: 100%;
  }
  .text-with-images__images {
    width: 100%;
  }
}
@media (max-width:749px) {
 .text-with-images__info {
  padding-inline: 15px;
 }
 .text-with-images__grid {
    display: flex;
    flex-wrap: wrap;
}
}
